### Directoies ###
bin/spmv*
bin/

matrix/artificial/*.mtx
matrix/natural/*.mtx
matrix/visualizer
generator

obj/*.o.*

log/*.tsv
log/format

test/mypwd


asm/
vtune/
src/_*
bak/

script/todo.csv

### Others ###
a.out
out
